.review-item{
  display: flex;
  border: 1px solid #95a0a7;
  width: 571px;
  margin: 0 auto;
  padding: 8px;
}
.review-details-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 17px;
}
.review-item img{
  width: 91px;
}
.review-details p{
  margin: 0;
}
/* Delete Button */
.delete-btn{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 0;
  background-color: rgba(235, 87, 87, 0.3);
}
.delete-icon{
  font-size: 31px;
  color: #eb5757;
}